body {
  padding-top: 50px;
  height: 100%;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

#infoOverlay {
	position: fixed;
	left: 5px;
	bottom: -100px;
	height: 100px;
	width: 300px;
	border: 2px solid #777;
	opacity: 0;
	background-color: #FFF;
	box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
	border-radius: 5px;
}

#infoLogo {
	position: absolute;
	left: 3px;
	top: 3px;
	border: 1px solid #efefef;
	height: 90px;
	width: 90px;
}

#infoHeader {
	position: absolute;
	left: 100px;
	top: 0px;
	font-weight: bold;
	width: 190px;
	height: 18px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

#infoContent {
	position: absolute;
	left: 100px;
	top: 21px;
	width: 190px;
	height: 75px;
	overflow: hidden;
	font-size: 11px;
}

.well-800 {
	width: 800px;
	margin: auto;
	margin-bottom: 10px;
}

.companyBlock {
	text-align: left;
	position: relative;
	
}

.companyLogo {
	position: absolute;
	left: 7px;
	top: 7px;
	border: 1px solid #e3e3e3;
	height: 100px;
	width: 100px;
}

.companyName {
	margin-left: 100px;
	margin-right: 110px;
	font-weight: bold;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.companyDesc {
	margin-left: 100px;
	margin-right: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.companySuburb {
	margin-left: 100px;
	margin-right: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.companyDistance {
	margin-left: 100px;
	margin-right: 110px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 10px;
}

.companyBookButton {
	position: absolute;
	top: 35px;
	right: 20px;
}